.createRecipeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Remove barras de rolagem */
    background-image: url('./backgroundHome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.previewContainer h1{
    color: #31c895;
}
.previewContainer strong{
    color: #31c895;
}

form {
    width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 600px;
    top: 110px;
    gap: 1.5em;
    padding: 50px;
    border: 0;
}


.previewContainer {
    width: 400px;
    height: 650px;
    max-height: 530px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 450px;
    top: 180px;
    padding: 50px;
    background-color: transparent;
    color: black;
    gap: 1em;
}

.previewContainer h2 {
    margin-bottom: 20px;
    /* max-width: 400px; */
    word-wrap: break-word;
}

.previewContainer pre {
    margin: 15px 0;
}

button{
    padding: 10px;
    margin-left: 35px;
    display: flex;
    width: 150px;
    height: 50px;
    border: 3px solid #31c895;
    background-color: transparent;
    color: #31c895;
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

button:hover{
    background-color: #31c896ae;
    color: #ffffff;
}


