.form_control{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 1em;
}

.form_control label{
    padding: .5em;
    border-radius: 0;
    border: none;
    color: #31c895;
    font-weight: bold;
}

.form_control select{
    width: 220px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    min-height: 30px;
    color: #7B7B7B;
}