.form_control{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 1em;
}

.form_control label{
    padding: .5em;
    border-radius: 0;
    border: none;
    color: #31c895;
    font-weight: bold;
}

.form_control textarea {
    display: flex;
    width: 200px;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
    min-height: 30px;
}


.form_control textarea::placeholder{
    color: #7B7B7B;
}